:root{
  --main-red: #AD0000;
  --main-red-diluido: rgba(173,0,0,0.4);
  --text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  list-style: none;
  letter-spacing: 0.025em;
}
html{
  scroll-behavior: smooth;
}
h1{
  font-size: 4rem;
}
h2{
  font-size: 2.5rem;
}

h3{
  font-size: 2rem;
}